# Ignorar el archivo de credenciales
credentials.json
index_pinegrow.html
index_servicios.html

# Ignorar archivos de variables de entorno
.env

# Ignorar otras posibles carpetas o archivos sensibles
__pycache__/
*.pycc