<!DOCTYPE html>
<html lang="en">
<div id="contact" class="tm-page-content" style="display:none;">
    <div class="tm-black-bg tm-contact-text-container">
        <h2 class="tm-text-primary">Contáctanos</h2>
        <p>Si tienes alguna duda o quieres anunciar tu negocio con nosotros, no dudes en ponerte en contacto.</p>
    </div>
    <div class="tm-black-bg tm-contact-form-container tm-align-right">
        <form action="" method="POST" id="contact-form">
            <div class="tm-form-group">
                <input type="text" name="name" class="tm-form-control" placeholder="Nombre" required
                    autocomplete="name" />
            </div>
            <div class="tm-form-group">
                <input type="email" name="email" class="tm-form-control" placeholder="Correo Electrónico" required
                    autocomplete="email" />
            </div>
            <div class="tm-form-group tm-mb-30">
                <textarea rows="6" name="message" class="tm-form-control" placeholder="Mensaje" required></textarea>
            </div>
            <button type="submit" class="tm-btn-primary tm-align-right">Enviar</button>
        </form>
    </div>
</div>
</html>