<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gula Maps</title>
    <!-- External Libraries -->
    <!--<link href="../css/theme.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="tm-container">
        <!-- Main Content -->
        <main class="tm-main">
            <!-- Navigation Bar -->
            {% include 'navbar.html' %}
            <div id="food" class="tm-page-content">
                <!-- Dropdown Navigation -->
                <nav class="tm-black-bg tm-drinks-nav">
                    <div class="dropdown">
                        <button class="tm-dropdown-btn">Selecciona una categoría <i class="fas fa-chevron-down"></i>
                        </button>
                        <div id="dropdown-options" class="dropdown-options" style="display: none;">
                            <a href="#" class="tm-tab-link" data-id="resta">Restaurantes</a>
                            <a href="#" class="tm-tab-link" data-id="bar">Bares</a>
                            <a href="#" class="tm-tab-link" data-id="cafe">Cafeterías</a>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- Splash Modal for City Selection -->
            <div id="city-splash" class="city-splash">
                <div class="city-splash-content">
                    <h2>Selecciona una ciudad</h2>
                    <ul id="city-list">
                        {% for ciudad in ciudades %}
                        <li><a href="/?ciudad={{ ciudad }}">{{ ciudad }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <button id="close-splash">Cerrar</button>
                </div>
            </div>
            <!-- Template for Category Sections -->
            {% for category, data in [('resta', restaurants), ('bar', bars), ('cafe',cafes)] %}
            <div id="{{ category }}" class="tm-tab-content">
                <div class="tm-list-container"> {% for place in data %}
                    <div class="tm-list-item" data-type-of-food="{{ place['Tipo_comida'] }}"
                        data-keywords="{{ place['Palabras_Clave'] }}">
                        <!-- Icono del lugar -->
                        <img src="static/img/{{ place['Icono'] if place['Icono'] is defined else category ~ '-logo.png' }}"
                            alt="Image" class="tm-list-item-logo">
                        <!-- Texto y enlaces del lugar -->
                        <div class="tm-list-item-text">
                            <h3 class="tm-list-item-name">{{ place['Nombre'] }}</h3>
                             <!-- Rating -->
                            <span class="rating"> Rating: {% set rating = place['Rating']|float %} {% set full_stars =
                                rating|int %}
                                {% set has_half_star = (rating - full_stars) >= 0.5 %} <!-- Estrellas --> {% for i in
                                range(full_stars) %} <i class="fas fa-star gold-star"></i>{% endfor %} {%
                                if has_half_star %} <i class="fas fa-star-half-alt gold-star"></i>{% endif %} {% for i
                                in range(5 -
                                full_stars - (1 if has_half_star else 0)) %} <i class="far fa-star gold-star"></i>{%
                                endfor %} </span>
                            <!-- Enlace WhatsApp -->
                            <span class="tm-list-item-price"> <a
                                    href="https://wa.me/{{ place['Teléfono']|string|replace(' ', '') }}" target="_blank"
                                    class="whatsapp-link"> <i class="fab fa-whatsapp"></i> Envía un mensaje </a>
                            </span>
                            <!-- Enlace Google Maps -->
                            <span class="tm-list-item-price"> <a
                                    href="https://www.google.com/maps/search/?api=1&query={{ place['Dirección']|urlencode }}"
                                    target="_blank" class="google-link"> <i class="fas fa-map-marker-alt"></i> Ubicación
                                    en Maps </a> </span>
                        </div>
                    </div> {% endfor %}
                </div>
            </div> {% endfor %}
        </main>
        <!-- About Us (Servicios) Page -->
        {% include 'servicios.html' %}
        <!-- Special Items Page (En construcción) -->
        {% include 'special.html' %}
        <!-- Contact Page -->
        {% include 'contact.html' %}

    </div>
</body>
{% include 'footer_and_scripts.html' %}

</html>