<!DOCTYPE html>
<html lang="en">

<nav class="tm-page-nav">
    <a href="#food" class="tm-page-link active">
        <img src="static/img/gulamapslogowhite.png" alt="Gula Maps" class="tm-logo">
        <span class="tm-logo-text"></span>
    </a>
    <button id="city-filter-btn" class="city-filter-btn">
        <i class="fas fa-map-marker-alt"></i>
        <span id="selected-city">&nbsp {{ selected_city }}</span>
        <i class="fas fa-chevron-down"></i>
    </button>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Buscar por nombre...">
    </div>
    <a href="#about" class="tm-page-link">
        <i class="fas fa-info-circle tm-page-link-icon"></i> Mas Servicios
    </a>
    <a href="#special" class="tm-page-link">
        <i class="fas fa-exclamation-circle tm-page-link-icon"></i> En construcción
    </a>
    <a href="#contact" class="tm-page-link">
        <i class="fas fa-phone tm-page-link-icon"></i> Contacto
    </a>
</nav>

</html>