<!DOCTYPE html>
<html lang="en">
<div id="special" class="tm-page-content" style="display:none;">
    <div class="tm-black-bg tm-special-item">
        <img src="static/img/under-construction.png" alt="En construcción" class="tm-special-item-img">
        <div class="tm-special-item-description">
            <h2 class="tm-text-primary tm-special-item-title">En construcción</h2>
            <p class="tm-special-item-text">Estamos trabajando en algo especial. ¡Pronto habrá más novedades!</p>
        </div>
    </div>
</div>
</html>